mp-r:
  metadata:
    version: 1.1
    changes:
      v1.1: Changed answer reference from $OPTION to ANSWER in the prompt template.
  name: minimal_pairs
  competency: linguistic-diagnostics
  dataloader_file: src/dataloaders/huggingface_dataloader.py
  dataloader_class: HuggingFaceDataloader
  metric_file: seahelm_tasks/lindsea/syntax/minimal_pairs.py
  metric_class: MinimalPairsMetric
  metric: normalized_accuracy
  fewshot_num_examples:
    instruct: 0
    base: 5
  languages:
    id:
      filepath: aisingapore/Linguistic-Diagnostics-Syntax
      example_filepath: aisingapore/Linguistic-Diagnostics-Syntax
      max_tokens: 128
      prompt_template:
        preamble: |-
          Anda adalah seorang ahli bahasa Indonesia.

          Jawablah hanya dengan menggunakan format berikut ini:
          "{answer_tag} ANSWER"
          Ganti ANSWER dengan pilihan yang telah dipilih. Gunakan huruf A atau B saja sebagai jawabannya.
        task_template: |-
          Kalimat mana yang lebih mungkin?
          {sentence_pair}
        answer_template: |-
          {answer_tag} {label}
        answer_tag: "Jawaban:"
    ta:
      filepath: aisingapore/Linguistic-Diagnostics-Syntax
      example_filepath: aisingapore/Linguistic-Diagnostics-Syntax
      max_tokens: 128
      prompt_template:
        preamble: |-
          நீங்கள் ஒரு தமிழ் மொழியியல் நிபுணர்.

          பின்வரும் பதில் வடிவமைப்பை மட்டும் பயன்படுத்தி பதிலளிக்கவும்:
          "{answer_tag} ANSWER"
          தேர்ந்தெடுக்கப்பட்ட பதிலுடன் ANSWER ஐ மாற்றவும். A அல்லது B என்ற எழுத்துக்களில் மட்டும் பதிலளிக்கவும்.
        task_template: |-
          எந்த வாக்கியம் மிகவும் சாத்தியமானது?
          {sentence_pair}
        answer_template: |-
          {answer_tag} {label}
        answer_tag: "பதில்:"

mp-r-logprobs:
  metadata: ${mp-r.metadata}
  name: mp-r-logprobs
  competency: ${mp-r.competency}
  dataloader_file: ${mp-r.dataloader_file}
  dataloader_class: ${mp-r.dataloader_class}
  metric_file: seahelm_tasks/lindsea/syntax/minimal_pairs.py
  metric_class: MinimalPairsLogProbMetric
  metric: average_cumulative_probabilities
  use_logprobs: true
  max_n_runs: 1
  fewshot_num_examples: ${mp-r.fewshot_num_examples}
  languages: ${mp-r.languages}
