pragmatic-single:
  metadata:
    version: 1.1
    changes:
      v1.1: Changed answer reference from $OPTION to ANSWER in the prompt template.
  name: pragmatic_reasoning_single_sentence
  competency: linguistic-diagnostics
  aggregation_group: pragmatics
  dataloader_file: seahelm_tasks/lindsea/pragmatics/pragmatic_dataloader.py
  dataloader_class: PragmaticDataloader
  metric_file: seahelm_tasks/lindsea/pragmatics/pragmatic_reasoning.py
  metric_class: PragmaticReasoningMetric
  metric: normalized_accuracy
  fewshot_num_examples:
    instruct: 0
    base: 5
  languages:
    id:
      filepath: aisingapore/Linguistic-Diagnostics-Pragmatics
      example_filepath: aisingapore/Linguistic-Diagnostics-Pragmatics
      max_tokens: 128
      prompt_template:
        preamble: |-
          Anda adalah seorang ahli bahasa Indonesia.

          Jawablah hanya dengan menggunakan format berikut ini:
          "{answer_tag} ANSWER"
        task_template: |-
          Apakah pernyataan berikut ini {question_translated}? Ganti ANSWER dengan {choices_translated}.
          Pernyataan:
          ```
          {text}
          ```
        answer_template: |-
          {answer_tag} {label}
        answer_tag: "Jawaban:"
    ta:
      filepath: aisingapore/Linguistic-Diagnostics-Pragmatics
      example_filepath: aisingapore/Linguistic-Diagnostics-Pragmatics
      max_tokens: 128
      prompt_template:
        preamble: |-
          நீங்கள் ஒரு தமிழ் மொழியியல் நிபுணர்.

          பின்வரும் பதில் வடிவமைப்பை மட்டும் பயன்படுத்தி பதிலளிக்கவும்:
          "{answer_tag} ANSWER"
        task_template: |-
          பின்வரும் கூற்று {question_translated}? {choices_translated} என்ற சொற்களுடன் ANSWER ஐ மாற்றவும்.
          கூற்று:
          ```
          {text}
          ```
        answer_template: |-
          {answer_tag} {label}
        answer_tag: "பதில்:"
pragmatic-single-logprobs:
  metadata: ${pragmatic-single.metadata}
  name: pragmatic-single-logprobs
  competency: ${pragmatic-single.competency}
  dataloader_file: ${pragmatic-single.dataloader_file}
  dataloader_class: ${pragmatic-single.dataloader_class}
  metric_file: seahelm_tasks/lindsea/pragmatics/pragmatic_reasoning.py
  metric_class: PragmaticReasoningLogProbMetric
  metric: average_cumulative_probabilities
  use_logprobs: true
  max_n_runs: 1
  fewshot_num_examples: ${pragmatic-single.fewshot_num_examples}
  aggregation_group: pragmatics-logprobs
  languages: ${pragmatic-single.languages}

pragmatic-pair:
  metadata:
    version: 1.1
    changes:
      v1.1: Changed answer reference from ANSWER to ANSWER in the prompt template.
  name: pragmatic_reasoning_sentence_pair
  competency: linguistic-diagnostics
  aggregation_group: pragmatics
  dataloader_file: seahelm_tasks/lindsea/pragmatics/pragmatic_dataloader.py
  dataloader_class: PragmaticDataloader
  metric_file: seahelm_tasks/lindsea/pragmatics/pragmatic_reasoning.py
  metric_class: PragmaticReasoningMetric
  metric: normalized_accuracy
  fewshot_num_examples:
    instruct: 0
    base: 5
  languages:
    id:
      filepath: aisingapore/Linguistic-Diagnostics-Pragmatics
      example_filepath: aisingapore/Linguistic-Diagnostics-Pragmatics
      max_tokens: 128
      prompt_template:
        preamble: |-
          Anda adalah seorang ahli bahasa Indonesia

          Jawablah hanya dengan menggunakan format berikut ini:
          "{answer_tag} ANSWER"
          Ganti ANSWER dengan Benar atau Salah.
        task_template: |-
          Berdasarkan situasi ini, apakah pernyataan berikut ini Benar atau Salah?
          Situasi:
          ```
          {text}
          ```
          Pernyataan:
          ```
          {conclusion}
          ```
        answer_template: |-
          {answer_tag} {label}
        answer_tag: "Jawaban:"
    ta:
      filepath: aisingapore/Linguistic-Diagnostics-Pragmatics
      example_filepath: aisingapore/Linguistic-Diagnostics-Pragmatics
      max_tokens: 128
      prompt_template:
        preamble: |-
          நீங்கள் ஒரு தமிழ் மொழியியல் நிபுணர்.

          பின்வரும் பதில் வடிவமைப்பை மட்டும் பயன்படுத்தி பதிலளிக்கவும்:
          "{answer_tag} ANSWER"
          உண்மை அல்லது பொய் என்ற சொற்களுடன் ANSWER ஐ மாற்றவும்.
        task_template: |-
          இந்த சூழ்நிலையில், பின்வரும் கூற்று உண்மையா அல்லது பொய்யா?
          சூழ்நிலை:
          ```
          {text}
          ```
          கூற்று:
          ```
          {conclusion}
          ```
        answer_template: |-
          {answer_tag} {label}
        answer_tag: "பதில்:"
pragmatic-pair-logprobs:
  metadata: ${pragmatic-pair.metadata}
  name: pragmatic-pair-logprobs
  competency: ${pragmatic-pair.competency}
  dataloader_file: ${pragmatic-pair.dataloader_file}
  dataloader_class: ${pragmatic-pair.dataloader_class}
  metric_file: seahelm_tasks/lindsea/pragmatics/pragmatic_reasoning.py
  metric_class: PragmaticReasoningLogProbMetric
  metric: average_cumulative_probabilities
  use_logprobs: true
  max_n_runs: 1
  fewshot_num_examples: ${pragmatic-pair.fewshot_num_examples}
  aggregation_group: pragmatics-logprobs
  languages: ${pragmatic-pair.languages}
