{% for message in messages %}{% set content = message['content'] | trim %}{% if ( loop.index0 == 0 ) and ( bos_token is defined ) %}{% set content = bos_token + content %}{% endif %}{% if not loop.last %}{% set content = content + '\n\n' %}{% endif %}{{ content }}{% endfor %}{% if add_generation_prompt %}{{ '\n\n' }}{% endif %}