name: pre-commit

on: # yamllint disable-line rule:truthy
  # push: null
  pull_request: null

permissions: {}

jobs:
  build:
    name: super-linter
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: read
      # To report GitHub Actions status checks
      statuses: write

    steps:
      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 #6.0.1
        with:
          # super-linter needs the full git history to get the
          # list of files that changed across commits
          fetch-depth: 0
          persist-credentials: false

      #############################
      # custom DEFAULT_BRANCH for repos where PR target isn't always main/master
      #############################
      - name: Set DEFAULT_BRANCH to PR target
        # if base_ref has a value, this is a PR
        # we save the PR target branch name to a variable for use in linter config
        # we pass string between job steps by echoing to $GITHUB_ENV, making it available in $env later
        if: ${{ github.base_ref != '' }}
        run: |
          echo "DEFAULT_BRANCH=${GITHUB_BASE_REF}" >> "$GITHUB_ENV"
          echo "this is a PR branch."
          echo "Only lint files that are changed against the target branch '${GITHUB_BASE_REF}'"

      - name: Set DEFAULT_BRANCH to current branch
        # if base_ref has no value, this is just a commit on a branch
        # we need to strip refs/heads from github.ref to find the current branch name
        # then save the current branch name to a variable for use in linter config later
        # we pass strings between job steps by echoing to $GITHUB_ENV, making it available in $env later
        if: ${{ github.base_ref == '' }}
        run: |
          echo "DEFAULT_BRANCH=$(echo "$GITHUB_REF" | sed 's/refs\/heads\///')" >> "$GITHUB_ENV"
          echo "this is just a branch push, not a PR."

      # used as a debug step to ensure we're only linting all files on release branches
      - name: Are we linting all files?
        run: |
          echo VALIDATE_ALL_CODEBASE=${{ github.base_ref == 'main' }}

      # disable non-DevOps focused linters that might run on sample code or 3rd party code
      # these env's will get pass to the next step
      - name: Specify which linters to use
        run: |
          { 
            echo "VALIDATE_GIT_MERGE_CONFLICT_MARKERS=true"
            echo "VALIDATE_GITLEAKS=true"
            echo "VALIDATE_TRIVY=true"
            echo "VALIDATE_GITHUB_ACTIONS=true"
            echo "VALIDATE_PRE_COMMIT=true"
            echo "VALIDATE_JSON=true"
            echo "VALIDATE_JSON_PRETTIER=true"
            echo "VALIDATE_MARKDOWN=true"
            echo "VALIDATE_MARKDOWN_PRETTIER=true"
            echo "VALIDATE_YAML=true"
            echo "VALIDATE_YAML_PRETTIER=true"
          } >> "$GITHUB_ENV"

      #############################
      # Run many Linters against changed files on PRs, and ALL files on commit to release branch
      #############################
      - name: Super-linter
        uses: super-linter/super-linter/slim@502f4fe48a81a392756e173e39a861f8c8efe056 # 8.3.0
        env:
          # To report GitHub Actions status checks
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          # by default super-linter assumes our repo default branch doesn't change
          # and it also assumes our PRs are always against that default branch
          # for multi-trunk (releases) repos, this get the base branch from the previous steps
          # see issue https://github.com/github/super-linter/issues/1123
          DEFAULT_BRANCH: ${{ env.DEFAULT_BRANCH }}
          # Only validate all files when PR is targeting the main branch
          VALIDATE_ALL_CODEBASE: ${{ github.base_ref == 'main' }}
          IGNORE_GENERATED_FILES: true
          IGNORE_GITIGNORED_FILES: true
